body {
    background-color: 001933;
    margin: 0;
}

/************ titles ***********/
.title {
    font-family: "Times New Roman", serif;
    font-size: 60px;
    color: white;
    text-align: center;
    padding-top: 65px;
}

.subtitle {
    font-family: "Arial-Black", sans-serif;
    font-size: 32px;
    color: white;
    text-align: center;
    padding-bottom: 60px;
}

/************ navbar ***********/
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ffffff1f;
    position: fixed;
    z-index: 9999;
    top: 0;
    width: 100%;
    font-size: 20px;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
    transition: background-color 200ms linear;
}

nav li {
    float: left;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: lightblue;
    color: black;
}

nav .active {
    background-color: #002e4f;
}

nav ul.scrolled {
    background-color: black !important;
    transition: background-color 200ms linear;
}