body {
    background-color: 001933;
}

.title {
    font-family: "Times New Roman", serif;
    font-size: 60px;
    color: white;
    text-align: center;
    padding-top: 20px;
}

.subtitle {
    font-family: "Arial-Black", sans-serif;
    font-size: 32px;
    color: white;
    text-align: center;
    padding-bottom: 100px;
}